--
-- PostgreSQL database dump
--

\restrict K2v8EVqgE6wSEbzhBt6DpxCKDz9EQVPwU0hJp4wX9va3GH6vCIOxRM8aFr1ZkeK

-- Dumped from database version 17.8 (Debian 17.8-1.pgdg13+1)
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: btree_gist; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS btree_gist WITH SCHEMA public;


--
-- Name: EXTENSION btree_gist; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION btree_gist IS 'support for indexing common datatypes in GiST';


--
-- Name: pageinspect; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pageinspect WITH SCHEMA public;


--
-- Name: EXTENSION pageinspect; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pageinspect IS 'inspect the contents of database pages at a low level';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: accessorie; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.accessorie (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    type text
);


ALTER TABLE public.accessorie OWNER TO postgres;

--
-- Name: accessorie_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.accessorie_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.accessorie_id_seq OWNER TO postgres;

--
-- Name: accessorie_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.accessorie_id_seq OWNED BY public.accessorie.id;


--
-- Name: accounts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.accounts (
    id integer NOT NULL,
    name text,
    balance numeric(10,2)
);


ALTER TABLE public.accounts OWNER TO postgres;

--
-- Name: animal_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.animal_type (
    id integer NOT NULL,
    name character varying(100) NOT NULL
);


ALTER TABLE public.animal_type OWNER TO postgres;

--
-- Name: animal_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.animal_type_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.animal_type_id_seq OWNER TO postgres;

--
-- Name: animal_type_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.animal_type_id_seq OWNED BY public.animal_type.id;


--
-- Name: breed; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.breed (
    id integer NOT NULL,
    breed_name character varying(100) NOT NULL,
    animal_type_id integer NOT NULL,
    average_weight numeric(5,2)
);


ALTER TABLE public.breed OWNER TO postgres;

--
-- Name: breed_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.breed_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.breed_id_seq OWNER TO postgres;

--
-- Name: breed_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.breed_id_seq OWNED BY public.breed.id;


--
-- Name: cage; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cage (
    id integer NOT NULL,
    animal_type_id integer,
    petshop_id integer,
    current_pet_id integer
);


ALTER TABLE public.cage OWNER TO postgres;

--
-- Name: cage_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.cage_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cage_id_seq OWNER TO postgres;

--
-- Name: cage_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.cage_id_seq OWNED BY public.cage.id;


--
-- Name: cleaning_assignments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cleaning_assignments (
    cleaner_id integer NOT NULL,
    cage_id integer NOT NULL,
    cleaning_date date NOT NULL,
    is_completed boolean DEFAULT false NOT NULL
);


ALTER TABLE public.cleaning_assignments OWNER TO postgres;

--
-- Name: client; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.client (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    surname character varying(100) NOT NULL,
    passport_data character varying(100) NOT NULL,
    petshop_id integer NOT NULL
);


ALTER TABLE public.client OWNER TO postgres;

--
-- Name: client_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.client_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.client_id_seq OWNER TO postgres;

--
-- Name: client_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.client_id_seq OWNED BY public.client.id;


--
-- Name: employee; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.employee (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    surname character varying(100) NOT NULL,
    profession character varying(100) NOT NULL,
    passport_data text
);


ALTER TABLE public.employee OWNER TO postgres;

--
-- Name: employee_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.employee_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.employee_id_seq OWNER TO postgres;

--
-- Name: employee_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.employee_id_seq OWNED BY public.employee.id;


--
-- Name: food; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.food (
    id integer NOT NULL,
    brand_name character varying(100) NOT NULL,
    food_type character varying(100) NOT NULL
);


ALTER TABLE public.food OWNER TO postgres;

--
-- Name: food_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.food_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.food_id_seq OWNER TO postgres;

--
-- Name: food_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.food_id_seq OWNED BY public.food.id;


--
-- Name: keeper_assignments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.keeper_assignments (
    keeper_id integer NOT NULL,
    pet_id integer NOT NULL,
    assignment_date date NOT NULL
);


ALTER TABLE public.keeper_assignments OWNER TO postgres;

--
-- Name: medication; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.medication (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    animal_type integer
);


ALTER TABLE public.medication OWNER TO postgres;

--
-- Name: medication_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.medication_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.medication_id_seq OWNER TO postgres;

--
-- Name: medication_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.medication_id_seq OWNED BY public.medication.id;


--
-- Name: pet; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pet (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    age integer,
    owner_id integer,
    breed_id integer,
    food_id integer,
    petshop_id integer,
    CONSTRAINT pet_age_positive CHECK ((age > 0))
);


ALTER TABLE public.pet OWNER TO postgres;

--
-- Name: pet_accessorie; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pet_accessorie (
    pet_id integer NOT NULL,
    accessorie_id integer NOT NULL
);


ALTER TABLE public.pet_accessorie OWNER TO postgres;

--
-- Name: pet_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.pet_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pet_id_seq OWNER TO postgres;

--
-- Name: pet_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.pet_id_seq OWNED BY public.pet.id;


--
-- Name: pet_medication; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pet_medication (
    pet_id integer NOT NULL,
    medication_id integer NOT NULL
);


ALTER TABLE public.pet_medication OWNER TO postgres;

--
-- Name: petshop; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.petshop (
    id integer NOT NULL,
    address character varying(255) NOT NULL,
    name character varying(100) NOT NULL,
    pets_capacity integer NOT NULL,
    CONSTRAINT pets_capacity_non_negative CHECK ((pets_capacity >= 0))
);


ALTER TABLE public.petshop OWNER TO postgres;

--
-- Name: petshop_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.petshop_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.petshop_id_seq OWNER TO postgres;

--
-- Name: petshop_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.petshop_id_seq OWNED BY public.petshop.id;


--
-- Name: test_deadlock; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.test_deadlock (
    id integer NOT NULL,
    value integer
);


ALTER TABLE public.test_deadlock OWNER TO postgres;

--
-- Name: accessorie id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accessorie ALTER COLUMN id SET DEFAULT nextval('public.accessorie_id_seq'::regclass);


--
-- Name: animal_type id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.animal_type ALTER COLUMN id SET DEFAULT nextval('public.animal_type_id_seq'::regclass);


--
-- Name: breed id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.breed ALTER COLUMN id SET DEFAULT nextval('public.breed_id_seq'::regclass);


--
-- Name: cage id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cage ALTER COLUMN id SET DEFAULT nextval('public.cage_id_seq'::regclass);


--
-- Name: client id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.client ALTER COLUMN id SET DEFAULT nextval('public.client_id_seq'::regclass);


--
-- Name: employee id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employee ALTER COLUMN id SET DEFAULT nextval('public.employee_id_seq'::regclass);


--
-- Name: food id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.food ALTER COLUMN id SET DEFAULT nextval('public.food_id_seq'::regclass);


--
-- Name: medication id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.medication ALTER COLUMN id SET DEFAULT nextval('public.medication_id_seq'::regclass);


--
-- Name: pet id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pet ALTER COLUMN id SET DEFAULT nextval('public.pet_id_seq'::regclass);


--
-- Name: petshop id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.petshop ALTER COLUMN id SET DEFAULT nextval('public.petshop_id_seq'::regclass);


--
-- Name: accessorie accessorie_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accessorie
    ADD CONSTRAINT accessorie_pkey PRIMARY KEY (id);


--
-- Name: accounts accounts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts
    ADD CONSTRAINT accounts_pkey PRIMARY KEY (id);


--
-- Name: animal_type animal_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.animal_type
    ADD CONSTRAINT animal_type_pkey PRIMARY KEY (id);


--
-- Name: breed breed_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.breed
    ADD CONSTRAINT breed_pkey PRIMARY KEY (id);


--
-- Name: cage cage_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cage
    ADD CONSTRAINT cage_pkey PRIMARY KEY (id);


--
-- Name: cleaning_assignments cleaning_assignments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cleaning_assignments
    ADD CONSTRAINT cleaning_assignments_pkey PRIMARY KEY (cleaner_id, cage_id, cleaning_date);


--
-- Name: client client_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.client
    ADD CONSTRAINT client_pkey PRIMARY KEY (id);


--
-- Name: employee employee_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employee
    ADD CONSTRAINT employee_pkey PRIMARY KEY (id);


--
-- Name: food food_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.food
    ADD CONSTRAINT food_pkey PRIMARY KEY (id);


--
-- Name: keeper_assignments keeper_assignments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.keeper_assignments
    ADD CONSTRAINT keeper_assignments_pkey PRIMARY KEY (keeper_id, pet_id, assignment_date);


--
-- Name: medication medication_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.medication
    ADD CONSTRAINT medication_pkey PRIMARY KEY (id);


--
-- Name: pet_accessorie pet_accessorie_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pet_accessorie
    ADD CONSTRAINT pet_accessorie_pkey PRIMARY KEY (pet_id, accessorie_id);


--
-- Name: pet_medication pet_medication_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pet_medication
    ADD CONSTRAINT pet_medication_pkey PRIMARY KEY (pet_id, medication_id);


--
-- Name: pet pet_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pet
    ADD CONSTRAINT pet_pkey PRIMARY KEY (id);


--
-- Name: petshop petshop_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.petshop
    ADD CONSTRAINT petshop_pkey PRIMARY KEY (id);


--
-- Name: test_deadlock test_deadlock_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.test_deadlock
    ADD CONSTRAINT test_deadlock_pkey PRIMARY KEY (id);


--
-- Name: idx_accessorie_name_gin; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_accessorie_name_gin ON public.accessorie USING gin (to_tsvector('russian'::regconfig, (name)::text));


--
-- Name: idx_animal_type_name_gin; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_animal_type_name_gin ON public.animal_type USING gin (to_tsvector('russian'::regconfig, (name)::text));


--
-- Name: idx_breed_name_gin; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_breed_name_gin ON public.breed USING gin (to_tsvector('russian'::regconfig, (breed_name)::text));


--
-- Name: idx_breed_weight_gist; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_breed_weight_gist ON public.breed USING gist (average_weight);


--
-- Name: idx_cleaning_date_gist; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_cleaning_date_gist ON public.cleaning_assignments USING gist (cleaning_date);


--
-- Name: idx_keeper_assignments_date_gist; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_keeper_assignments_date_gist ON public.keeper_assignments USING gist (assignment_date);


--
-- Name: idx_medication_description_gin; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_medication_description_gin ON public.medication USING gin (to_tsvector('russian'::regconfig, description));


--
-- Name: idx_pet_age_gist; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_pet_age_gist ON public.pet USING gist (age);


--
-- Name: idx_pet_name_gin; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_pet_name_gin ON public.pet USING gin (to_tsvector('russian'::regconfig, (name)::text));


--
-- Name: idx_pets_breed_hash; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_pets_breed_hash ON public.pet USING hash (breed_id);


--
-- Name: idx_pets_petshop; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_pets_petshop ON public.pet USING btree (petshop_id);


--
-- Name: breed breed_animal_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.breed
    ADD CONSTRAINT breed_animal_type_id_fkey FOREIGN KEY (animal_type_id) REFERENCES public.animal_type(id);


--
-- Name: cage cage_animal_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cage
    ADD CONSTRAINT cage_animal_type_id_fkey FOREIGN KEY (animal_type_id) REFERENCES public.animal_type(id);


--
-- Name: cage cage_current_pet_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cage
    ADD CONSTRAINT cage_current_pet_id_fkey FOREIGN KEY (current_pet_id) REFERENCES public.pet(id);


--
-- Name: cage cage_petshop_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cage
    ADD CONSTRAINT cage_petshop_id_fkey FOREIGN KEY (petshop_id) REFERENCES public.petshop(id);


--
-- Name: cleaning_assignments cleaning_assignments_cage_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cleaning_assignments
    ADD CONSTRAINT cleaning_assignments_cage_id_fkey FOREIGN KEY (cage_id) REFERENCES public.cage(id);


--
-- Name: cleaning_assignments cleaning_assignments_cleaner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cleaning_assignments
    ADD CONSTRAINT cleaning_assignments_cleaner_id_fkey FOREIGN KEY (cleaner_id) REFERENCES public.employee(id);


--
-- Name: client client_petshop_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.client
    ADD CONSTRAINT client_petshop_id_fkey FOREIGN KEY (petshop_id) REFERENCES public.petshop(id);


--
-- Name: keeper_assignments keeper_assignments_keeper_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.keeper_assignments
    ADD CONSTRAINT keeper_assignments_keeper_id_fkey FOREIGN KEY (keeper_id) REFERENCES public.employee(id);


--
-- Name: keeper_assignments keeper_assignments_pet_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.keeper_assignments
    ADD CONSTRAINT keeper_assignments_pet_id_fkey FOREIGN KEY (pet_id) REFERENCES public.pet(id);


--
-- Name: pet_accessorie pet_accessorie_accessorie_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pet_accessorie
    ADD CONSTRAINT pet_accessorie_accessorie_id_fkey FOREIGN KEY (accessorie_id) REFERENCES public.accessorie(id);


--
-- Name: pet_accessorie pet_accessorie_pet_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pet_accessorie
    ADD CONSTRAINT pet_accessorie_pet_id_fkey FOREIGN KEY (pet_id) REFERENCES public.pet(id);


--
-- Name: pet pet_breed_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pet
    ADD CONSTRAINT pet_breed_id_fkey FOREIGN KEY (breed_id) REFERENCES public.breed(id);


--
-- Name: pet pet_food_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pet
    ADD CONSTRAINT pet_food_id_fkey FOREIGN KEY (food_id) REFERENCES public.food(id);


--
-- Name: pet_medication pet_medication_medication_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pet_medication
    ADD CONSTRAINT pet_medication_medication_id_fkey FOREIGN KEY (medication_id) REFERENCES public.medication(id);


--
-- Name: pet_medication pet_medication_pet_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pet_medication
    ADD CONSTRAINT pet_medication_pet_id_fkey FOREIGN KEY (pet_id) REFERENCES public.pet(id);


--
-- Name: pet pet_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pet
    ADD CONSTRAINT pet_owner_id_fkey FOREIGN KEY (owner_id) REFERENCES public.client(id);


--
-- Name: pet pet_petshop_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pet
    ADD CONSTRAINT pet_petshop_id_fkey FOREIGN KEY (petshop_id) REFERENCES public.petshop(id);


--
-- Name: TABLE accessorie; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,UPDATE ON TABLE public.accessorie TO manager;


--
-- Name: TABLE animal_type; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,UPDATE ON TABLE public.animal_type TO manager;


--
-- Name: TABLE breed; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,UPDATE ON TABLE public.breed TO manager;


--
-- Name: TABLE cage; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,UPDATE ON TABLE public.cage TO manager;


--
-- Name: TABLE cleaning_assignments; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,UPDATE ON TABLE public.cleaning_assignments TO manager;


--
-- Name: TABLE client; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,UPDATE ON TABLE public.client TO manager;


--
-- Name: TABLE employee; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,UPDATE ON TABLE public.employee TO manager;


--
-- Name: TABLE food; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,UPDATE ON TABLE public.food TO manager;


--
-- Name: TABLE keeper_assignments; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,UPDATE ON TABLE public.keeper_assignments TO manager;
GRANT SELECT ON TABLE public.keeper_assignments TO keeper;


--
-- Name: TABLE medication; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,UPDATE ON TABLE public.medication TO manager;


--
-- Name: TABLE pet; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT ON TABLE public.pet TO client;
GRANT SELECT,INSERT,UPDATE ON TABLE public.pet TO manager;


--
-- Name: TABLE pet_accessorie; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,UPDATE ON TABLE public.pet_accessorie TO manager;


--
-- Name: TABLE pet_medication; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,UPDATE ON TABLE public.pet_medication TO manager;


--
-- Name: TABLE petshop; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,UPDATE ON TABLE public.petshop TO manager;


--
-- PostgreSQL database dump complete
--

\unrestrict K2v8EVqgE6wSEbzhBt6DpxCKDz9EQVPwU0hJp4wX9va3GH6vCIOxRM8aFr1ZkeK

